.App {
  text-align: center;
}

.is-sandwich {
  border-top: 50px solid white;
  border-bottom: 50px solid white;
  background-color: darkmagenta;
  color: whitesmoke;
}
.is-sandwich .title {
  color: white;
}

.is-over {
  display: flex;
  position: relative;
  z-index: 999;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.is-padded {
  padding: 20px;
}

.loader-body {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  margin: 0;
}

.loader {
  width: 3em;
  height: 3em;
  animation: loaderAnim 1.25s infinite;
  outline: 1px solid transparent;
}
.loader .largeBox {
  height: 3em;
  width: 3em;
  background-color: #333;
  outline: 1px solid transparent;
  position: fixed;
}
.loader .smallBox {
  height: 3em;
  width: 3em;
  background-color: #fff;
  position: fixed;
  z-index: 1;
  outline: 1px solid transparent;
  animation: smallBoxAnim 1.25s alternate infinite ease-in-out;
}

@keyframes smallBoxAnim {
  0% {
    transform: scale(0.2);
  }
  100% {
    transform: scale(0.75);
  }
}
@keyframes loaderAnim {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(90deg);
  }
}

/* Progress Bar */
.is-material-progress {
  position: relative;
  height: 4px;
  display: block;
  width: 100%;
  background-color: #00ac9a;
  border-radius: 2px;
  background-clip: padding-box;
  overflow: hidden;
}
.is-material-progress .determinate {
  position: absolute;
  background-color: inherit;
  top: 0;
  bottom: 0;
  background-color: #004e46;
  transition: width 0.3s linear;
}
.is-material-progress .indeterminate {
  background-color: #004e46;
}
.is-material-progress .indeterminate:before {
  content: '';
  position: absolute;
  background-color: inherit;
  top: 0;
  left: 0;
  bottom: 0;
  will-change: left, right;
  animation: indeterminate 2.1s cubic-bezier(0.65, 0.815, 0.735, 0.395) infinite;
}
.is-material-progress .indeterminate:after {
  content: '';
  position: absolute;
  background-color: inherit;
  top: 0;
  left: 0;
  bottom: 0;
  will-change: left, right;
  animation: indeterminate-short 2.1s cubic-bezier(0.165, 0.84, 0.44, 1) infinite;
  animation-delay: 1.15s;
}
@-webkit-keyframes indeterminate {
  0% {
    left: -35%;
    right: 100%;
  }
  60% {
    left: 100%;
    right: -90%;
  }
  100% {
    left: 100%;
    right: -90%;
  }
}
@-moz-keyframes indeterminate {
  0% {
    left: -35%;
    right: 100%;
  }
  60% {
    left: 100%;
    right: -90%;
  }
  100% {
    left: 100%;
    right: -90%;
  }
}
@keyframes indeterminate {
  0% {
    left: -35%;
    right: 100%;
  }
  60% {
    left: 100%;
    right: -90%;
  }
  100% {
    left: 100%;
    right: -90%;
  }
}
@-webkit-keyframes indeterminate-short {
  0% {
    left: -200%;
    right: 100%;
  }
  60% {
    left: 107%;
    right: -8%;
  }
  100% {
    left: 107%;
    right: -8%;
  }
}
@-moz-keyframes indeterminate-short {
  0% {
    left: -200%;
    right: 100%;
  }
  60% {
    left: 107%;
    right: -8%;
  }
  100% {
    left: 107%;
    right: -8%;
  }
}
@keyframes indeterminate-short {
  0% {
    left: -200%;
    right: 100%;
  }
  60% {
    left: 107%;
    right: -8%;
  }
  100% {
    left: 107%;
    right: -8%;
  }
}

.dining-button, .activity-button, .travel-button {
  width: 300px;
  height: 300px;
  padding: 0;
  border: 0;
  background-color: transparent;
  background-image: url("https://i.imgur.com/FagAk3m.png");
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
  cursor: pointer;
}

.dining-button:focus, .activity-button:focus, .travel-button:focus {
  outline:0;
  transform: scale(1.1);
}

.activity-button {
  background-image: url("https://i.imgur.com/1aOXHAJ.png");
}

.travel-button {
  background-image: url("https://i.imgur.com/459VDGR.png");
}