.App {
  text-align: center;
}

.is-sandwich {
  border-top: 50px solid white;
  border-bottom: 50px solid white;
  background-color: darkmagenta;
  color: whitesmoke;
}
.is-sandwich .title {
  color: white;
}

.is-over {
  display: flex;
  position: relative;
  z-index: 999;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.is-padded {
  padding: 20px;
}